body{

  margin: 0;
  padding: 0;
  font-family: Courier New, monospace;

  background-image:url("../img/aurora3.jpeg");
	background-attachment:fixed;
	background-repeat:no-repeat;
	background-position:center center;
	background-size: 100%;
	text-align: center;

  background-size: cover;
  background-position: center;

  flex: auto;
}


.Subscribe
{
  width: 350px;
  box-shadow: 0 0 30px 0 rgba(0,0,0,0.5);
  background: #fff;
  padding: 20px;
  margin: 3% auto;
  text-align: center;
}

.Connection
{
  width: 350px;
  box-shadow: 0 0 30px 0 rgba(0,0,0,0.6);
  background: #fff;
  padding: 20px;
  margin: 8% auto;
  text-align: center;
}


a{
  text-decoration: none;
}

#errormessage
{
  color: red;
}

.input-box
{

  font-family: Courier New, monospace;
  border-radius: 2px;
  padding: 10px;
  margin: 6px 0;
  border: 1px solid black;
  outline: none;
  width: 200px;
}


.btn-validate
{
  width: 220px;
  height: 40px;
  margin: 10px;
}
